In [1]:
import pandas as pd
import numpy as np

In [5]:
user_log = pd.read_csv("../data/user_log_format.csv")
user_log.head(5)

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0

In [6]:
user_info = pd.read_csv("../data/user_info_format1.csv")
user_info.head(5)

   user_id  age_range  gender
0   376517        6.0     1.0
1   234512        5.0     0.0
2   344532        5.0     0.0
3   186135        5.0     0.0
4    30230        5.0     0.0

In [7]:
train_data = pd.read_csv("../data/train_format1.csv")
train_data.head(5)

   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

In [8]:
test_data = pd.read_csv("../data/test_format1.csv")
test_data.head(5)

   user_id  merchant_id  prob
0   163968         4605   NaN
1   360576         1581   NaN
2    98688         1964   NaN
3    98688         3645   NaN
4   295296         3361   NaN